<div class="box-sidebar bg-gray-850 border-gray-800">
    <div class="head-sidebar">
        <h5 class="line-bottom">Категории</h5>
    </div>
    <div class="content-sidebar">
        <div class="list-cats">
            <div class="item-cats border-gray-800 wow animate__animated animate__fadeIn">
                <div class="cat-left">
                    <div class="image-cat"><a href="#"><img src="assets/front/imgs/page/healthy/cat1.png" alt="Genz"></a></div>
                    <div class="info-cat"><a class="color-gray-500 text-xl" href="blog-archive.html">Travel Tips</a></div>
                </div>
                <div class="cat-right"><a class="btn btn-small text-sm color-gray-500 bg-gray-800" href="#">36
                        posts</a></div>
            </div>
            <div class="item-cats border-gray-800 wow animate__animated animate__fadeIn">
                <div class="cat-left">
                    <div class="image-cat"><a href="blog-archive-2.html"><img src="assets/front/imgs/page/healthy/cat2.png" alt="Genz"></a></div>
                    <div class="info-cat"><a class="color-gray-500 text-xl" href="#">Technology</a></div>
                </div>
                <div class="cat-right"><a class="btn btn-small text-sm color-gray-500 bg-gray-800" href="blog-archive-2.html">14
                        posts</a></div>
            </div>
            <div class="item-cats border-gray-800 wow animate__animated animate__fadeIn">
                <div class="cat-left">
                    <div class="image-cat"><a href="blog-archive-3.html"><img src="assets/front/imgs/page/healthy/cat3.png" alt="Genz"></a></div>
                    <div class="info-cat"><a class="color-gray-500 text-xl" href="blog-archive-3.html">Business</a></div>
                </div>
                <div class="cat-right"><a class="btn btn-small text-sm color-gray-500 bg-gray-800" href="blog-archive-3.html">87
                        posts</a></div>
            </div>
            <div class="item-cats border-gray-800 wow animate__animated animate__fadeIn">
                <div class="cat-left">
                    <div class="image-cat"><a href="blog-archive-4.html"><img src="assets/front/imgs/page/healthy/cat4.png" alt="Genz"></a></div>
                    <div class="info-cat"><a class="color-gray-500 text-xl" href="blog-archive-4.html">Food</a></div>
                </div>
                <div class="cat-right"><a class="btn btn-small text-sm color-gray-500 bg-gray-800" href="blog-archive-4.html">125
                        posts</a></div>
            </div>
            <div class="item-cats border-gray-800 wow animate__animated animate__fadeIn">
                <div class="cat-left">
                    <div class="image-cat"><a href="blog-archive-5.html"><img src="assets/front/imgs/page/healthy/cat5.png" alt="Genz"></a></div>
                    <div class="info-cat"><a class="color-gray-500 text-xl" href="blog-archive-5.html">Lifestyle</a></div>
                </div>
                <div class="cat-right"><a class="btn btn-small text-sm color-gray-500 bg-gray-800" href="blog-archive-5.html">6
                        posts</a></div>
            </div>
        </div>
    </div>
</div>