<div class="box-sidebar bg-gray-850 border-gray-800">
    <div class="head-sidebar wow animate__animated animate__fadeIn">
        <h5 class="line-bottom">Популярные публикации</h5>
    </div>
    <div class="content-sidebar">
        <div class="list-posts">
            <div class="item-post wow animate__animated animate__fadeIn">
                <div class="image-post"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-post.jpg" alt="Genz"></a></div>
                <div class="info-post border-gray-800"><a href="single-sidebar.html">
                        <h6 class="color-white">Creating is a privilege but it’s also a gift</h6></a><span class="color-gray-700">15 mins read</span>
                    <ul class="d-inline-block">
                        <li class="color-gray-700">15 April 2022</li>
                    </ul>
                </div>
            </div>
            <div class="item-post wow animate__animated animate__fadeIn">
                <div class="image-post"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-post2.jpg" alt="Genz"></a></div>
                <div class="info-post border-gray-800"><a href="single-sidebar.html">
                        <h6 class="color-white">Being unique is better than being perfect</h6></a><span class="color-gray-700">15 mins read</span>
                    <ul class="d-inline-block">
                        <li class="color-gray-700">15 April 2022</li>
                    </ul>
                </div>
            </div>
            <div class="item-post wow animate__animated animate__fadeIn">
                <div class="image-post"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-post3.jpg" alt="Genz"></a></div>
                <div class="info-post border-gray-800"><a href="single-sidebar.html">
                        <h6 class="color-white">Every day, in every city and town across the country</h6></a><span class="color-gray-700">15 mins read</span>
                    <ul class="d-inline-block">
                        <li class="color-gray-700">15 April 2022</li>
                    </ul>
                </div>
            </div>
            <div class="item-post wow animate__animated animate__fadeIn">
                <div class="image-post"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-post4.jpg" alt="Genz"></a></div>
                <div class="info-post border-gray-800"><a href="single-sidebar.html">
                        <h6 class="color-white">Your voice, your mind, your story, your vision</h6></a><span class="color-gray-700">15 mins read</span>
                    <ul class="d-inline-block">
                        <li class="color-gray-700">15 April 2022</li>
                    </ul>
                </div>
            </div>
            <div class="item-post wow animate__animated animate__fadeIn">
                <div class="image-post"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-post4.jpg" alt="Genz"></a></div>
                <div class="info-post border-gray-800"><a href="single-sidebar.html">
                        <h6 class="color-white">Your voice, your mind, your story, your vision</h6></a><span class="color-gray-700">15 mins read</span>
                    <ul class="d-inline-block">
                        <li class="color-gray-700">15 April 2022</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>