{% extends "/back/layout.html.twig" %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Horizontal Form</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <form class="form form-horizontal" method="post" action="#">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="title-horizontal">Заголовок</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input type="text" id="title-horizontal" class="form-control" name="title" placeholder="{{ post.title }}">
                        </div>
                        <div class="col-md-4">
                            <label for="description-horizontal">Описание</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input type="text" id="description-horizontal" class="form-control" name="description" placeholder="{{ post.description }}">
                        </div>
                        <div class="col-md-4">
                            <label for="cover-image-horizontal">Путь для главного изображения:</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input type="text" id="cover-image-horizontal" class="form-control" name="cover_image" placeholder="{{ post.cover_image }}">
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label  class="pb-3" for="content-horizontal">Текс публикации</label>
                                <textarea name="content" id="content" cols="30" rows="10">
                                    {{ post.content }}
                                </textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 d-flex justify-content-around align-content-stretch">

                            <input type="submit" class="btn btn-success me-1 mb-1" name="post_ok" value="Добавить">
                            <input type="submit" class="btn btn-secondary me-1 mb-1" name="post_cansel" value="Отмена">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <link rel="stylesheet" href="/assets/back/vendor/easymde/easymde.min.css">
    <script src="/assets/back/vendor/easymde/easymde.min.js"></script>
    <script>
        const easymde = new EasyMDE({
            element: document.getElementById('content'),
        });
    </script>

{% endblock %}