<div class="card-blog-1 card-blog-2 hover-up wow animate__animated animate__fadeIn">
    <div class="card-image mb-20"><a class="post-type" href="#"></a><a href="single-sidebar.html"><img src="assets/imgs/page/homepage4/img5.jpg" alt="Genz"></a></div>
    <div class="card-info"><a href="single-sidebar.html">
            <h4 class="color-white mt-30">I work best when my space is filled with inspiration</h4></a>
        <p class="mt-25 text-lg color-gray-700">Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far</p>
        <div class="row align-items-center mt-45">
            <div class="col-7">
                <div class="box-author"><img src="assets/imgs/page/homepage1/author.jpg" alt="Genz">
                    <div class="author-info">
                        <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">25 April 2022</span>
                    </div>
                </div>
            </div>
            <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>Read more</span></a></div>
        </div>
    </div>
</div>