<div class="card-blog-1 card-blog-2 hover-up wow animate__animated animate__fadeIn">
    <div class="card-image mb-20"><a class="post-type" href="#"></a><img src="{{ post.cover_image }}" alt="{{ post.title }}"></div>
    <div class="card-info">
            <h4 class="color-white mt-30">{{ post.title }}</h4>
        <p class="mt-25 text-lg color-gray-700">{{ post.content }}</p>
        <div class="row align-items-center mt-45">
            
            <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="/"><span>Вернуться к списку публикаций</span></a></div>
        </div>
    </div>
</div>