<div class="row align-items-end mt-50">
    <div class="col-lg-7 mb-20">
        <div class="d-inline-block position-relative">
            <h1 class="color-white mb-20 color-linear wow animate__animated animate__fadeIn">Healthy</h1><span class="btn btn-linear-small btn-number-arts">36 articles</span>
        </div>
        <p class="color-gray-500 text-base wow animate__animated animate__fadeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis nisi sed turpis vulputate viverra. Morbi ligula elit, hendrerit non nisl tincidunt, sodales consequat magna.</p>
    </div>
    <div class="col-lg-5 mb-20 text-start text-lg-end">
        <div class="box-breadcrumbs wow animate__animated animate__fadeIn">
            <ul class="breadcrumb">
                <li><a class="home" href="index.html">Home</a></li>
                <li><a href="blog-archive.html">Blog</a></li>
                <li><span>Healthy</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="border-bottom border-gray-800 mt-10 mb-30"></div>
    </div>
</div>