<div class="main-header">
    <div class="header-logo"><a class="d-flex" href="index.html"><img class="logo-night" alt="GenZ" src="/assets/imgs/template/logo.svg"><img class="d-none logo-day" alt="GenZ" src="/assets/imgs/template/logo-day.svg"></a></div>
    <div class="header-nav">
        <nav class="nav-main-menu d-none d-xl-block">
            <ul class="main-menu">
                <li><a class="active" href="/">Home</a>
                </li>
                <li class="has-children"><a class="color-gray-500" href="page-about.html">About Me</a>
                    <ul class="sub-menu">
                        <li><a class="color-gray-500" href="page-portfolio.html">My Portfolio</a></li>
                        <li><a class="color-gray-500" href="page-portfolio-2.html">My Portfolio 2</a></li>
                        <li><a class="color-gray-500" href="portfolio-details.html">Portfolio Details</a></li>
                    </ul>
                </li>
                <li class="has-children"><a class="color-gray-500" href="#">Category</a>
                    <ul class="sub-menu two-col">
                        <li><a class="color-gray-500" href="blog-archive.html">Blog Category 1</a></li>
                        <li><a class="color-gray-500" href="blog-archive-2.html">Blog Category 2</a></li>
                        <li><a class="color-gray-500" href="blog-archive-3.html">Blog Category 3</a></li>
                        <li><a class="color-gray-500" href="blog-archive-4.html">Blog Category 4</a></li>
                        <li><a class="color-gray-500" href="blog-archive-5.html">Blog Category 5</a></li>
                    </ul>
                </li>
                <li class="has-children"><a class="color-gray-500" href="#">Single Post</a>
                    <ul class="sub-menu two-col">
                        <li><a class="color-gray-500" href="single-sidebar.html">Blog Single 1</a></li>
                        <li><a class="color-gray-500" href="single-no-sidebar.html">Blog Single 2</a></li>
                        <li><a class="color-gray-500" href="single-center.html">Blog Single 3</a></li>
                    </ul>
                </li>
                <li class="has-children"><a class="color-gray-500" href="#">Pages</a>
                    <ul class="sub-menu two-col">
                        <li><a class="color-gray-500" href="page-about.html">About</a></li>
                        <li><a class="color-gray-500" href="page-author.html">Author posts</a></li>
                        <li><a class="color-gray-500" href="page-contact.html">Contact</a></li>
                        <li><a class="color-gray-500" href="page-search.html">Search results</a></li>
                        <li><a class="color-gray-500" href="page-login.html">Login</a></li>
                        <li><a class="color-gray-500" href="page-signup.html">Signup</a></li>
                        <li><a class="color-gray-500" href="page-404.html">Page 404</a></li>
                    </ul>
                </li>
                <li>
                    <a class="color-gray-500" href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
    </div>
    <div class="header-right text-end">
        <div class="switch-button">
            <div class="form-check form-switch">
                <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" role="switch" checked="">
            </div>
        </div>
    </div>
</div>