
<div class="mb-10"></div>
<h2 class="color-linear d-inline-block mb-10 wow animate__animated animate__fadeInUp">Popular Tags</h2>
<p class="text-lg color-gray-500 wow animate__animated animate__fadeInUp">Most searched keywords</p>
<div class="row mt-70 mb-50">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag1.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html">Travel</a></div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.1s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag2.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html"> Culture</a></div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.2s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag3.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html">Lifestyle</a></div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.3s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag4.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html">Fashion</a></div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.4s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag5.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html">Food</a></div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.5s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag6.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html">Space</a></div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.1s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag7.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html">Animal</a></div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.2s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag8.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html">Minimal</a></div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.3s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag9.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html">Interior</a></div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.4s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag10.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html">Plant</a></div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.5s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag11.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html">Nature</a></div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
        <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.6s">
            <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag12.png" alt="Genz"></a></div>
            <div class="card-info"><a class="color-gray-500" href="blog-archive.html">Business</a></div>
        </div>
    </div>
</div>