<div class="pt-30 border-bottom border-gray-800 pb-20">
    <div class="box-breadcrumbs">
        <ul class="breadcrumb">
            <li><a class="home" href="/">Home</a></li>
            <li><a href="#">Статья</a></li>
            <li><span>{{ post.title }}</span></li>
        </ul>
    </div>
</div>