{% extends "/front/layout.html.twig" %}
{% block page_header_and_breadcrumbs %}
    {% include ("/front/blocks/post_header_block.html.twig") %}
{% endblock %}
{% block content %}
    <div class="box-list-posts mt-30">

        {% include ("/front/blocks/card_top_image.html.twig") %}
        

    </div>
{% endblock %}



