<div class="sidebar-menu">
    <ul class="menu">
        <li class="sidebar-title">Menu</li>
        <li class="sidebar-item  active">
            <a href="/admin" class='sidebar-link'>
                <i class="bi bi-grid-fill"></i>
                <span>Панель управления</span>
            </a>
        </li>

        <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-stack"></i>
                <span>Posts</span>
            </a>

            <ul class="submenu ">
                <li class="submenu-item  ">
                    <a href="component-accordion.html" class="submenu-link">Add New Post</a>
                </li>
            </ul>
        </li>

        <li class="sidebar-title">Configs</li>

        <li class="sidebar-title">Pages</li>

        <li class="sidebar-title">Пользователь</li>

        <li class="sidebar-item">
            <a href="/logout" class='sidebar-link'>
                <i class="bi bi-box-arrow-right"></i>
                <span>Выход</span>
            </a>
        </li>

    </ul>
</div>